doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/storey.js')
    script(src='/javascripts/cargo.js')
    script.
      cargo.store(['/', '/users'])
